<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="https://img.icons8.com/pastel-glyph/64/000000/shop.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Shopify
    </a>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <% if(admin) {%>
            <li class="nav-item active">
              <a class="nav-link" href="/admin?admin=true">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/add-product?admin=true">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Summary </a>
            </li>
          <% }else{ %>
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
</nav>