<%- include('./includes/header.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <div class="d-flex justify-content-center top-spc">
        <h1>No Page Found!</h1>
    </div>
<%- include('./includes/footer.ejs') %>
